@import "styles/utils";

.header {
  padding: 24px 0;

  @include media(">tablet") {
    padding: 58px 0 51.5px;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .rightSide {
    display: flex;
    align-items: center;
    gap: 16px;

    @include media(">tablet") {
      gap: 26px;
    }

    .divider {
      width: 1px;
      min-height: 32px;
      height: 100%;
      background: #E9E9E9;
    }
  }
}
