@import "styles/utils";

.select {
  position: relative;
  font-weight: 700;
  @include BodyM;

  &.open {
    .overlay {
      display: block;
    }

    .optionsBox {
      max-height: 300px;
      transition: max-height 0.3s;
    }
  }

  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .value {
    display: flex;
    align-items: center;
    gap: 16px;
    cursor: pointer;

    @include media(">tablet") {
      gap: 18px;
    }
  }

  .optionsBox {
    position: absolute;
    top: calc(100% + 18px);
    right: 0;
    min-width: 183px;
    max-height: 0;
    background: var(--theme-box-background);
    box-shadow: var(--theme-box-shadow);
    border-radius: 16px;
    z-index: 1;
    overflow: hidden;
    transition: max-height 0.3s;
  }

  .options {
    list-style: none;

    .option {
      padding: 8px 24px;
      cursor: pointer;

      &:first-child {
        padding-top: 24px;
      }

      &:last-child {
        padding-bottom: 24px;
      }
    }
  }
}
