@import "styles/utils";

.logo {
  display: flex;

  h1 {
    display: flex;
  }

  .logoIcon {
    height: 32px;
    object-fit: cover;

    @include media(">tablet") {
      width: 32px;
      height: auto;
    }
  }
}
