@import '~include-media/dist/include-media';

$breakpoints: (mobile: 568px, tablet: 767px, desktop: 992px);

.light {
  --theme-background: #FFFFFF;
  --theme-color: #2D2D2D;
  --theme-input-background: #F4F4F4;
  --theme-input-placeholder-color: rgba(45, 45, 45, 0.25);
  --theme-box-background: #FFFFFF;
  --theme-box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
}

.dark {
  --theme-background: #050505;
  --theme-color: #FFFFFF;
  --theme-input-background: #1F1F1F;
  --theme-input-placeholder-color: rgba(255, 255, 255, 0.25);
  --theme-box-background: #1F1F1F;
  --theme-box-shadow: 0px 5px 30px #A445ED;
}

@mixin HeadingL {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;

  @include media(">tablet") {
    font-size: 64px;
    line-height: 77px;
  }
}

@mixin HeadingM {
  font-size: 18px;
  line-height: 24px;

  @include media(">tablet") {
    font-size: 24px;
    line-height: 29px;
  }
}

@mixin HeadingS {
  font-size: 16px;
  line-height: 19px;

  @include media(">tablet") {
    font-size: 20px;
    line-height: 24px;
  }
}

@mixin BodyM {
  font-size: 14px;
  line-height: 24px;

  @include media(">tablet") {
    font-size: 18px;
    line-height: 24px;
  }
}

@mixin BodyS {
  font-size: 14px;
  line-height: 17px;
  text-decoration: underline;

  @include media(">tablet") {
    line-height: 15px;
  }
}
